body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  font-size: small;
  margin: 8px;
}

.kanaDisplay {
  font-size: 72px;
  text-align: center;
}

.exerciseArea {
  margin: 0 auto;
}