body {
  color: #cecece;
  background-color: #3e3e3e;
  font-family: Arial, sans-serif;
  font-size: small;
  margin: 8px;
}

.kanaDisplay {
  font-size: 72px;
  text-align: center;
}

.exerciseArea {
  margin: 0 auto;
}

.guessBox {
  width: 100%;
}

.kanaSelectionGrid td {
  width: 16.666666%;
}

.simpleCheckBox {
  cursor: pointer;
  border-radius: 4px 4px 4px 4px;
  padding: 5px 10px;
  border: 1px solid;
  min-width: 25px;
}

.simpleCheckBox.simpleCheckBoxChecked {
  background-color: #224029;
}

.simpleCheckBox.simpleCheckBoxUnchecked {
  background-color: #402627;
}

.bigButton {
  font-size: 28px;
  cursor: pointer;
}